.navbar {
    background-color: #27283e;
}

#jumbotron {
    padding-top: 6rem;
    padding-bottom: 10rem;
    margin-top: 3rem;
    background-color: #3c3d58;
    color: white;
}

body {
    font-family: 'Poppins', sans-serif;
}

.dropdown-menu {
    background-color: #1c1d38;
}


#explore {
    background-color: #3c3d58;
    color: white;
}

.card {
    background-color: #595b83;
}

footer {
    background-color: #27283e;
    color: white;
}

.btn {
    background-color: #d0213e;
    color: white;
    transition: .2s ease-in;
}

.btn:hover {
    background-color: #3c3d58;
    color: white;
}

.profile-frame {
    position: relative;
    background-color: #595b83;
    /* background-color: rgba(red, green, blue, 0); */
    border-radius: 15px;
    width: 280px;
    height: 455px;
    left: 25%;
    transform: translate(-25%, 0);
    transform-style: preserve-3d;
}

.profile-frame::before {
    position: absolute;
    content: 'This is Me!';
    font-weight: bold;
    font-size: 30px;
    width: 100%;
    /* left: 50%; */
    /* top: 10px; */
    /* transform: translate(-50%, 0); */
    transform: translate3d(-65%, 0, 100px);
    opacity: 0;
    transition: 0.5s;
}

.profile-frame:hover::before {
    opacity: 0.7;

}

.profile-picture {
    position: absolute;
    width: 250px;
    top: 46%;
    left: 50%;
    transform: translate3d(-50%, -50%, 60px);
    transition: 0.5s;
}

.profile-frame:hover .profile-picture {
    transform: translate3d(-50%, -50%, 60px) scale(1.1) rotate(2deg);
}

.profile-name {
    position: absolute;
    background-color: rgba(208, 33, 62, 0.6);
    border-radius: 10px;
    /* backdrop-filter: blur(5px); */
    padding-top: 3px;
    height: 40px;
    width: 90%;
    top: 375px;
    left: 50%;
    transform: translate3d(-50%, 0, 80px);
    transition: 0.5s;
}

.profile-frame:hover .profile-name {
    transform: translate3d(-50%, 0, 80px) scale(1.2) rotate(1deg);
}