#jumbotron {
    padding: 6rem 0rem;
    margin-top: 3rem;
    background-color: #2E2836;
    color: white;
}

body {
    font-family: 'Poppins', sans-serif;
}

.dropdown-menu {
    background-color: #02111b;
}

/* .dropdown:hover .dropdown-menu {display:block;} */

#explore {
    background-color: #02111b;
    color: white;
}