#jumbotron {
    padding-top: 6rem;
    padding-bottom: 10rem;
    margin-top: 3rem;
    background-color: #2E2836;
    color: white;
}

body {
    font-family: 'Poppins', sans-serif;
}

.dropdown-menu {
    background-color: #02111b;
}

/* .dropdown:hover .dropdown-menu {display:block;} */

#explore {
    background-color: #02111b;
    color: white;
}

.card {
    background-color: black;
}

footer {
    background-color: #2E2836;
    color: white;
}