#jumbotron {
    padding: 12rem 0rem;
    margin-top: 3rem;
    background-color: #2E2836;
    color: white;
}

.dropdown-menu {
    background-color: #02111b;
}

.dropdown:hover .dropdown-menu {display:block;}